body{
    background: #bdc3c7;
}
 
h1{
    color: #9b59b6;
}

h2{
    color: orange;
}

li{
    color: #0040FF;
}

p{
    background: yellow;
}

input{
    border: 3px red solid;
}

.hello{
    background: white;
}

#special{
    border: 2px solid rgb(0,100,200);
}

div p{
    font-size: 25px;
}

 input [type="text"]{
     background: grey;
 } 

 
